.todo-input{
  padding: 0.5rem;
  font-size: 1.7rem;
  border: none;
  background: white;
  outline: none;
}

.todo-button{
  padding: 0.5rem;
  font-size: 1.7rem;
  border: none;
  background: white;
}

.filter-todo {
  padding: 1rem;
}
 
 /*CUSTOM SELECTOR */
 .select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background-image: none;
    margin: 1rem;
    position: relative;
    overflow: hidden;
    color: #DA7B93;
    font-family: var(--textFont);
    cursor: pointer;
    width: 12rem;
    font-size: 1.2rem;
  }

  /* Arrow */
  .select::after {
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    background: #DA7B93;
    cursor: pointer;
    pointer-events: none;
    color: white;
  }