
/* Overall */

  
  body {
    background-image: url('./pictures/garden_bg_0.jpg');;
    color: white;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    
  }
  
  header {
    font-size: 3rem;
    color:#D1E8E2
  }
  
  header,
  form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  form input {
    padding: 0.5rem;
    width: 200px;
    font-size: 1.7rem;
    border: none;
    background: white;
  }
  
  form button {
    color: #DA7B93;
    background: #f7fffe;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 0.5rem;
    font-size: 1.7rem;
    border: none;
    background: white;
  }
  form button:hover {
    background: #DA7B93;
    color: white;
  }

  /*Bootstrap buttons*/
  .btn-primary {
    color: #2c3531 !important;
    background-color: #DA7B93 !important;
    border-color: #2f4454 !important;
    /*
    max-width: 200px !important;
    */
}

.btn-primary:hover {
  color: #D1E8E2 !important;
  background-color: #2f4454 !important;
  border-color: #DA7B93 !important;
}

/*
.link-button {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
*/
 
 /**todo*/
  .todolist-container{
    background-image: linear-gradient(120deg, #2C3531 0%, #2C3531 100%);
    color: white;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    width: 500px;
     
  }
  
  .todo-input{
    padding: 0.5rem;
    font-size: 1.7rem;
    border: none;
    background: white;
  }
  .todo-button{
    padding: 0.5rem;
    font-size: 1.7rem;
    border: none;
    background: white;
  }
  
  .todo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
  }

  .todo-list {
    list-style: none; 
  }
  
  .todo {
    margin: 0.5rem;
    background: white;
    font-size: 1.5rem;
    color: #2C3531;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 1s ease;
    width: 400px;    
    
  }
  .filter-todo {
    padding: 1rem;
  }
  .todo li {
    flex: 1;
  }
  .trash-btn,
    .complete-btn {
      background: #DA7B93;
      color: white;
      border: none;
      padding: 1rem;
      cursor: pointer;
      font-size: 1rem;
    }
    .complete-btn {
      background: #376E6F;
    }
 
    .todo-item {
      padding: 0rem 0.5rem;
    }
    
    .fa-trash,
    .fa-check {
      pointer-events: none;
    }
    
    .fall {
      transform: translateY(10rem) rotateZ(20deg);
      opacity: 0;
    }
  
    .completed {
      text-decoration: line-through;
      opacity: 0.5;
    }
  
    /*CUSTOM SELECTOR */
    .select {
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      appearance: none;
      outline: 0;
      box-shadow: none;
      border: 0 !important;
      background-image: none;
    }
  
    /* Custom Select */
    .select {
      margin: 1rem;
      position: relative;
      overflow: hidden;
    }
    .select {
      color: #DA7B93;
      font-family: "Poppins", sans-serif;
      cursor: pointer;
      width: 12rem;
      font-size: 1rem;
    }
    /* Arrow */
    .select::after {
      content: "\25BC";
      position: absolute;
      top: 0;
      right: 0;
      padding: 1rem;
      background: #DA7B93;
      cursor: pointer;
      pointer-events: none;
    }

    /*signup*/
    .form-group {
      margin: 10px !important;
    }
  
    /*login*/
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .login-input {
    min-height: 7vh;
    margin : 1rem;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
  }
  
  .login-btn {
    min-height: 7vh;
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
    color: #DA7B93;
    cursor: pointer;
    transition: all 0.3s ease;
  
  }
   /*Garden*/

   .garden {
    display: inline-block;
    background-color: #2C3531;
    width: 500px;
    justify-content: center;
    align-items: center;
    
  }

  .garden-hr {
    height:2px;
    border-width:0;
    color: #FFCB9A;
    background-color: #376E6F;
  }

  .garden-hr-end {
    border: 5px solid;
    color: #376E6F;
    background-color: #376E6F;
  }

  .garden-header {
    background-image: url('./pictures/garden_bg_2.jpg') ;
  }

  .garden-header-container {
    border-color: #D1E8E2;
    border-style: dotted;
    background-color: #116466
  }

  .create-garden-container{
    
  }

   .garden-input-name,
   .garden-input-width,
   .garden-input-height {
    color:#2C3531;
    margin: 5px;
    margin-left: 30px;
    border-radius: 5px;
    border: none;
    font-family: "Poppins", sans-serif;
    width: 200px;
   }

   .garden-input-width {
    float: right;
    margin-right: 30px;
   }

   
   .garden-input-name {
    float: left;
   
   }
   
   .garden-input-height {
    float: left;
   }
   
   /*garden droplist*/
   .garden-type {
      margin: 5px;
      margin-left: 20px;
      margin-right: 30px;
      position: relative;
      overflow: hidden;
      color:#2C3531;
      appearance: menulist;
      border-radius: 5px;
      font-family: "Poppins", sans-serif;
      height: 26px;
      width: auto;
      cursor: pointer;
      font-size: 1rem;
      float: right;
   }

  
  .delete-garden-button {
    margin-top: 7px;
    margin-left: 10px;

  }
  .new-type-button,
  .delete-garden-button, 
  .create-garden-button {
    color: #2c3531 ;
    background-color: #DA7B93;
    border-color: #2f4454;
    border-radius: 5px;
  }
  .new-type-button:hover,
  .delete-garden-button:hover,
  .create-garden-button:hover {
    color: #D1E8E2;
    background-color: #2f4454;
    border-color: #DA7B93;
  }

  .create-button-container {
    width:500px;
    display: flex ;
    align-items: center ;
    justify-content: center ;
  }
  .create-garden-button {
    margin-top: 10px;    
  }

  .garden-name {
    color:#D1E8E2;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.garden-info{
color:#DA7B93;
font-family: "Poppins", sans-serif;
display: flex;
    justify-content: center;
    align-items: center;
}

/*accordion */

.new-type-button {
   float: right;
}
.accordion-button {
  background-color: #376E6F !important;
  color: #D1E8E2 !important;
  font-family: "Poppins", sans-serif !important;
  border-color: #646969 !important;
 
}

.accordion-button:focus {
  box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
  color: #ffffff !important;
  background-color: #376E6F !important;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%) !important;
}
/*garden square*/

.square {
  background: rgb(250, 249, 249);
  width: 48px;
  height: 48px;
  border: #646969;
  border-width: 1px;
  border-style: solid;
  display: inline-block;
  margin-top: 0px;
  margin-bottom: -1px;
  margin-left: -1px;
  color: black; 
}

.garden-square-img{
  height: 40px;
  width : 40px;
}

.square h1 {
  color: rgb(10, 10, 10);
}

  /*Drag and Drop*/

  .board-container{
    margin-left: 5px;
    
  }

  .drag-drop-container {

  }


  .ikon {
    height: 50px;
    width: 50px;
    margin: 10px;
    
  }
  .plant-select-container {
    margin-left: 5px;
  }

  .sort-plants-container {
    margin:5px;
  }

  .progressbar-container{
    margin-top: 10px;
  }
 /*droplist */
  #sortPlants{
    color:#2C3531;
    appearance: menulist;
    font-family: "Poppins", sans-serif;
    border-radius: 5px;
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
      font-size: 1rem;
  }

  #plantType{
    color:#2C3531;
    appearance: menulist;
    font-family: "Poppins", sans-serif;
    border-radius: 5px;
    width: 220px;
    cursor: pointer;
      font-size: 1rem;
    
  }



  /*PlantCard*/

  .plant-card {

 
  }
  .plant-card-img {
    margin-left: 5px;
  }

  
  .plant-card-h4 {
    color:#D1E8E2;
    margin-left: 5px;
  }

  .plant-card-plantname {
    color:#DA7B93;
    margin-left: 5px;
  }

  .plant-card-p {
    color:#DA7B93;
    margin: 2px;
    margin-left: 5px;
  }

  /**Test*/
  .Pictures {
    margin: 0px;
    
    display: flex;
    
  }
  .picture--ikon {
 
    margin-top: 0px;
    margin-bottom: -5px;
    width: 50px;
    height: 50px;
  }
  
 

 
 

 
  