
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --pink: #DA7B93;
  --darkGreen: #2C3531;
  --lightGreen: #D1E8E2;
  --darkBlue: #2f4454;
  --mediumBlue: #376E6F;

  --headerFont: "Sacramento", cursive;
  --textFont: "Alice", serif;
}
  
.alice-regular {
  font-family: "Alice", serif;
  font-weight: 400;
  font-style: normal;
}

.sacramento-regular {
  font-family: "Sacramento", cursive;
  font-weight: 400;
  font-style: normal;
}

  body {
    background-image: url('./pictures/garden_bg_0.jpg');;
    color: white;
    font-family: var(--textFont);
    min-height: 100vh;
    margin: auto;
  }

  .app-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  header,
  form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  form input {
    padding: 0.5rem;
    width: 200px;
    font-size: 1.7rem;
    border: none;
    background: white;
  }
  
  form button {
    color: #DA7B93;
    background: #f7fffe;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 0.5rem;
    font-size: 1.7rem;
    border: none;
    background: white;
  }
  form button:hover {
    background: #DA7B93;
    color: white;
  }
  

  /*Bootstrap buttons*/
  .btn-primary {
    color: #2c3531 !important;
    background-color: #DA7B93 !important;
    border-color: #2f4454 !important;
    /*
    max-width: 200px !important;
    */
}

.btn-primary:hover {
  color: #D1E8E2 !important;
  background-color: #2f4454 !important;
  border-color: #DA7B93 !important;
}
 
 /**todo*/   
    .fall {
      transform: translateY(10rem) rotateZ(20deg);
      opacity: 0;
    }
  
    .completed {
      text-decoration: line-through;
      opacity: 0.5;
    }
  
    /*signup*/
    .form-group {
      margin: 10px !important;
    }
  
    /*login*/
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center; 
  }
  
  .login-input {
    min-height: 7vh;
    margin : 1rem;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
  }
  
  .login-btn {
    min-height: 7vh;
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
    color: #DA7B93;
    cursor: pointer;
    transition: all 0.3s ease;
  
  }
  
 
 /*
      <span class="material-symbols-outlined leaf">
          nest_eco_leaf
        </span>
        
      
        <span class="material-symbols-outlined leaf">
        emoji_nature
        </span>

       <span class="material-symbols-outlined">
        psychiatry
        </span>

        <span class="material-symbols-outlined">
        deceased
        </span>

        <span class="material-symbols-outlined">
        local_florist
        </span>

        <span className="material-symbols-outlined leaf">
          eco
        </span>
      
  */

 
 

 
  